.signin-component
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    background-color:rgb(255, 255, 255);
    padding-bottom: 100px;
}

.register-text
{
    display: flex;
    flex-direction: row;
}

.signin-row
{
    display: flex;
    flex-direction: row;
}

.picture-row
{
    display: flex;
    flex-direction: column;
    width: 150px;
    margin-right: 150px;
}

.field-colorchange
{
    color: red !important;
    font-size: small;
}

.forms
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*width: 200px;
    margin-left: 40px;*/
}

.top-right-account-txt-link {
    display: flex;
    flex-direction: row;
    text-align: left!important;
}

#root > div > div > div > div.register-signin-right-panel.col-sm-8 > div.top-right-account-txt-link > p > a {
    display: contents !important;
}

#root > div > div > div > div.register-signin-right-panel.col-sm-8 > div.shadow-lg.rounded.size > div > ul > li:nth-child(1) > a.active.nav-link, #root > div > div > div > div.register-signin-right-panel.col-sm-8 > div.shadow-lg.rounded.size > div > ul > li:nth-child(2) > a.active.nav-link {
    color: black !important;
    cursor: pointer !important;
}
#root > div > div > div > div.register-signin-right-panel.col-sm-8 > div.shadow-lg.rounded.size > div > ul > li:nth-child(1) > a, #root > div > div > div > div.register-signin-right-panel.col-sm-8 > div.shadow-lg.rounded.size > div > ul > li:nth-child(2) > a {
    cursor: pointer !important;
}

.login-form-container {
    width: 70% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    box-shadow: 0px 6px 15px #0000001A;
    border: 0px solid #fff;
    opacity: 1;
}

.nav-tabs .nav-item {
    margin-bottom: -1px !important;
    width: 50% !important;
    text-align: center !important;
    background-color: #f1f1f1 !important;
    cursor: pointer !important;
    border: none !important;
}
.nav-link.active {
    background-color: #fff !important;
    cursor: pointer !important;
    color: black !important;
    border:none!important;
}
.nav-tabs {
    border: none !important;
}

    .nav-tabs .nav-link {
        border: none !important;
        padding:13px!important;
    }

.login-form-title {
    padding-bottom: 25px;
    width: 70% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.login-form-elements-container {
    padding:30px 30px 60px 30px;
    background-color:#fff!important;
}

.label-element, .form-element, div.login-btn {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

    .label-element {
        font-weight:700;
    }

    div.login-btn {
        margin-top: 35px;
    }
#root > div > div > div > div.register-signin-right-panel.col-sm-8 > div.form-container- > div.login-form-container > div > div > div.tab-pane.active > div > div > div > form > div:nth-child(2) > input[type=email], #root > div > div > div > div.register-signin-right-panel.col-sm-8 > div.form-container- > div.login-form-container > div > div > div.tab-pane.active > div > div > div > form > div > input[type=password] {
    width: 100% !important;
}

.frgt-pass {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align:right;
}

.row-style.mt-2.signin-creataccount {
    justify-content:space-between;
}

.create-acc-usr-btn {
    width: 40%;
}
.create-acc-usr-link {
    width:60%;
}

.create-acc-usr-link {
    text-align: right;
}

.btn-signin {
    width: 130px;
    font-size: 16px;
    padding-top: 9px!important;
    padding-bottom: 9px!important;
}

#root > div > div > div > div.register-signin-right-panel.col-sm-8 > div.form-container- > div.login-form-container > div > div > div.tab-pane.active > div > div > div > form > div.frgt-pass > a {
    padding-right: 0px !important;
    padding-bottom: 0px;
    font-size: 15px;
}

.space- {
    height:20px;
}


#root > div > div > div > div.register-signin-right-panel.col-sm-8 > div.form-container- > div.login-form-container > div > div > div.tab-pane.active > div > div > div > form > div.frgt-pass.email-confitm > a {
    padding-top: 2px;
}

#root > div > div.container > div > div.register-signin-right-panel.col-sm-8 > div > div > div > ul > li > a {
    border-bottom: 2px solid #fff !important;
}

#root > div > div > div > div.register-signin-right-panel.col-sm-8 > div.form-container- > div.login-form-container > div > div > div.tab-pane.active > div > div > div > form > div:nth-child(3) {
    margin-top: 20px !important;
}

#root > div > div > div > div.register-signin-right-panel.col-sm-8 > div.form-container- > div.login-form-container > div > div > div.tab-pane.active > div > div > div > form > div:nth-child(2) > input[type=text], #root > div > div > div > div.register-signin-right-panel.col-sm-8 > div.form-container- > div.login-form-container > div > div > div.tab-pane.active > div > div > div > form > div:nth-child(4) > input[type=password], #root > div > div.container > div > div.register-signin-right-panel.col-sm-8 > div.form-container- > div > div > div > div.tab-pane.active > div > div > div > div > form > div.form-element > input[type=email] {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#root > div > div > div > div.register-signin-right-panel.col-sm-8 > div.form-container- > div.login-form-container > div > div > div.tab-pane.active > div > div > div > form > div.login-btn > button {
    padding-left: 30px;
    padding-right: 30px;
}
.register-signin-box.row {
    height:150%!important;
}
div.form-container- {
    margin-top: 10vh !important;
    margin-bottom: 20vh !important;
    background-image: url("/images/Login/login_background.png");
    background-repeat: no-repeat;
    background-size: 600px auto;
    background-position: 65px 10px;
}

div.login-title {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top:60px;
    padding-left:25px;
    
    
}

div.tab-pane.active {
    background-color:#fff;
}


.tab-3-cont {
    padding: 60px 30px 55px 30px!important;
}
.pass-frgt-container.col-sm-12 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

#root > div > div.container > div > div.register-signin-right-panel.col-sm-8 > div.form-container- > div > div > div > div.tab-pane.active > div > div > div > form {
    
}

div.formik {
    width:100%!important;
    padding-top:30px!important;
}

div.lost-pass-title {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 60px; */
    /* padding-left: 25px; */
}

.create-account-message {
    background-color:#f1f1f1!important;
    padding:30px!important;
    border-radius:6px!important;
}
